# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  displayName: Build solution
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  displayName: Run Unit Tests
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      **\*.UnitTests.dll
      !**\*TestAdapter.dll
      !**\obj\**
    codeCoverageEnabled: True
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    testRunTitle: UnitTests
    
- task: VSTest@2
  displayName: Run Component Tests
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      **\*.ComponentTests.dll
      !**\*TestAdapter.dll
      !**\obj\**
    codeCoverageEnabled: True
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    testRunTitle: ComponentTests


- task: DotNetCoreCLI@2
  inputs:
    arguments: '--output $(Build.ArtifactStagingDirectory)'
    command: 'publish'
    configuration: $(BuildConfiguration)
    publishWebProjects: false
    projects: 'WinchHuntNet/WinchHuntNet.csproj'
  



- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
